// 🎨 Variabili SCSS
$radius: 8px;
$transition: 0.25s ease;

$text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);


/// 🎨 Tema base (dark mode di default)
:root {
  --color-bg: #111;
  --color-surface: #1b1b1b;
  --color-text: #fff;
  --color-muted: #aaa;
  --color-link: #fff;

  // Accenti (ROSSI)
  --accent-primary: #e53935;     // rosso principale
  --accent-secondary: #ef5350;   // rosso soft
  --light-link-hover: rgba(229, 57, 53, 0.8);

  // Ombre accenti
  --accent-shadow: -2px -2px 10px rgba(229, 57, 53, 0.6),
                   2px  2px 10px rgba(239, 83, 80, 0.6);
  --accent-shadow-up: -4px -4px 14px rgba(229, 57, 53, 0.6),
                      4px  4px 14px rgba(239, 83, 80, 0.6);
  --color-search: rgba(213, 0, 0, 0.15);

  // Hero
  --hero-title-color: #fff;
  --hero-overview-color: #fff;
  --hero-date-color: var(--color-muted);
  --hero-gradient: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.3) 70%,
    transparent 100%);

  // Poster 
    --poster-gradient: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.85) 100%
  );
}


// ☀️ Light mode override (TEAL palette)
body.light-theme {
  --color-bg: #e6f5f1;
  --color-surface: #ffffff;
  --color-text: #1f2a25;
  --color-muted: #5c6f68;
  --accent-primary: rgb(0, 121, 107);
  --accent-secondary: #48a999;

// ombre e accenti
  --accent-shadow: -2px -2px 10px rgba(0, 121, 107, 0.4),
                  2px  2px 10px rgba(72, 169, 153, 0.4);

  --accent-shadow-up: -4px -4px 14px rgba(0, 121, 107, 0.4),
                    4px  4px 14px rgba(72, 169, 153, 0.4);
  --light-link-hover: #008771;
  --color-search: rgba(0, 121, 107, 0.15);


  // Hero
  --hero-title-color: #2e3f38;
  --hero-overview-color: #4f4f4f;
  --hero-date-color: #404040;
  --hero-gradient: linear-gradient(
  to top,
  rgba(0, 121, 107, 0.35) 0%,  
  rgba(230, 245, 241, 0.7) 40%,
  transparent 100%
);
  // Poster 
  --poster-gradient: linear-gradient(
  to left,
  rgba(0, 121, 107, 0.35) 0%, 
  rgba(0, 0, 0, 0.75) 100%
);
  
}







// 🧹 RESET BASE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  transition: $transition;

  &:hover {
    cursor: pointer;
    color: var(--color-link-hover);
    filter: drop-shadow(0 0 4px var(--light-link-hover));
  }
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
}
